<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Magic Number Machine</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mattgallagher.magicnumbermachine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>mnmn</string>
	<key>CFBundleVersion</key>
	<string>1.0.30</string>
	<key>NSHelpFile</key>
	<string>Magic_Number_Machine_Help.html</string>
	<key>NSMainNibFile</key>
	<string>MNMWindow</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
